In [2]:
import os
import numpy as np
import pandas as pd
from numpy.random import default_rng

In [16]:
#Read data
file = "C:/Users/gurpr/Videos/BetaSci/Rossmann_Store1_Data_FULL.csv"
pwd = os.getcwd()
os.chdir(os.path.dirname(file))
data = pd.read_csv(os.path.basename(file))
data.head()

        Date  Sale
0  3/01/2013  4327
1  4/01/2013  4486
2  5/01/2013  4997
3  7/01/2013  7176
4  8/01/2013  5580

In [15]:
#Normal distributed nosie
df = data
obs = 50

#Generate index that will be changed
rng = default_rng()
zero_idx = rng.choice(len(df.index), size=obs, replace=False)
zero_idx.sort()
print(zero_idx)

#Generate noise
noise = (np.random.normal(200,300, obs)).astype(int)
print(noise)

#Add noise to the dataframe
df.loc[zero_idx, 'Sale'] = noise

# make negative values 0
df.Sale = df.Sale.mask(df.Sale.lt(0),0)

# write out to csv file
pd.DataFrame(df).to_csv(r'C:\Users\gurpr\Videos\BetaSci\Rossmann_Store1Noise50_200-300.csv', index=False, header=True)

[ 13  19  22  35  42 104 106 111 116 123 139 171 186 204 244 251 258 262
 269 284 287 308 354 355 409 414 436 438 447 459 469 505 514 539 546 554
 566 567 581 585 618 626 639 640 662 694 703 728 729 749]
[-166  -79  187   44  562   75  735  358  325  655  640  286 -438  364
  286  -60   -8  122 -387 -401  225 -173 -305  482  -39  325   68 -184
 -206  328  780  572  504  528  561  176  784  183  171  986  332  386
  -31  571  -59 -103  168 -362  592   38]

           Date  Sale
0     3/01/2013  4327
1     4/01/2013  4486
2     5/01/2013  4997
3     7/01/2013  7176
4     8/01/2013  5580
..          ...   ...
775  27/07/2015  6102
776  28/07/2015  5011
777  29/07/2015  4782
778  30/07/2015  5020
779  31/07/2015  5263

[780 rows x 2 columns]

In [4]:
#Make random zeros
df = data
obs = 50

rng = default_rng()
zero_idx = rng.choice(len(df.index), size=obs, replace=False)
zero_idx
#array with index where 0's will be written

df.loc[zero_idx,'Sale'] = 0
df

#Write out
#pd.DataFrame(df).to_csv(r'C:\Users\gurpr\Videos\BetaSci\Rossmann_Store1_Zero_Noise50.csv', index=True, header=True)

           Date  Sale
0     3/01/2013  4327
1     4/01/2013  4486
2     5/01/2013  4997
3     7/01/2013  7176
4     8/01/2013  5580
..          ...   ...
775  27/07/2015  6102
776  28/07/2015  5011
777  29/07/2015  4782
778  30/07/2015  5020
779  31/07/2015  5263

[780 rows x 2 columns]